apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: hello-app
        image: chillarneyman/hello-app:ce0fa8d7eef0e7fd430d2e8195145d67004cd5bb